# Binaries
bin/
main
*.exe

# Configs - Ignore secrets
internal/config/configs.env
internal/config/configs.*.toml
internal/config/configs.*.json
internal/config/configs.yaml

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Test
test/